{% extends 'base.html' %}

{% block title %}Pacientes{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<header class="header-top flex-row" style="background-color: #4b7fbd;">
    <img class="logo-img" src="static\img\logoBlanco.png">
    <div class=" flex-row encabezado ">
      <!--Inicio-->
      <a href="{{ url_for('inicio') }}"><p class="padR4 hover-p padT1">Inicio</p></a>
      <!--Establecimientos-->
      <a href="{{ url_for('establecimientos') }}"><p class="padR4 hover-p padT1">Establecimientos</p></a>
      <!--Medicamentos-->
      <a href="{{ url_for('medicamentos') }}"><p class="padR4 hover-p padT1">Medicamentos</p></a>
      <!--Pacientes-->
      <a href="{{ url_for('paciente') }}"><p class="padR4 hover-p padT1">Pacientes</p></a>

      <!--Icono Usuario-->
        <div class="profile-img-container">
          <img src="static\img\doc.jpg" alt="Perfil de usuario" class="profile-img">
      </div>
        
  </div>

</header>
<body class="center">

    <!--Pestaña info pacientes-->
    <div class="center flex-column">
        
        <h3 class="titulo">Pacientes:</h3>
        <div class="margin">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Masa Corporal</th>
              <th>Teléfono</th>
              <th>Más Información</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Juan Pérez</td>
              <td>22</td>
              <td>+1 (555) 123-4567</td>
              <td><a href="#" class="btn-info">Ver más</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Maria Rodríguez</td>
              <td>25</td>
              <td>+1 (555) 987-6543</td>
              <td><a href="#" class="btn-info">Ver más</a></td>
            </tr>
            <!-- Agrega más filas aquí siguiendo el mismo formato -->
          </tbody>
        </table>
        
      </div>
    </div>
    
<script>
    var texto = document.querySelector('.text-establecimiento');
    var contenido = texto.innerHTML;
    if (contenido.length > 20) {
    texto.innerHTML = contenido.substring(0, 20) + '...';
    }

</script>
{% endblock %}