{% extends 'base.html' %}

{% block title %}Informacion Paciente{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<header class="header-top flex-row" style="background-color: #4b7fbd;">
    <img class="logo-img" src="static\img\logoBlanco.png">
    <div class=" flex-row encabezado ">
      <!--Inicio-->
      <a href="{{ url_for('inicio') }}"><p class="padR4 hover-p padT1">Inicio</p></a>
      <!--Establecimientos-->
      <a href="{{ url_for('establecimientos') }}"><p class="padR4 hover-p padT1">Establecimientos</p></a>
      <!--Medicamentos-->
      <a href="{{ url_for('medicamentos') }}"><p class="padR4 hover-p padT1">Historial</p></a>
      <!--Pacientes-->
      <a href="{{ url_for('paciente') }}"><p class="padR4 hover-p padT1">Pacientes</p></a>
      <!--Estadisticas-->
      <a href="{{ url_for('estadisticas') }}"><p class="padR4 hover-p padT1">Estadísticas</p></a>
      <!--Cerrar Sesion-->
      <a href="logout"><p class="padR4 hover-p padT1">Cerrar sesion</p></a>
      <!--Icono Usuario-->
        <div class="profile-img-container">
          <img src="static\img\doc.jpg" alt="Perfil de usuario" class="profile-img">
      </div>
        
  </div>

</header>
<body class="center">

    <!--Pestaña info pacientes-->
    <div class="flex-column  center">
        <h3 class="titulo">Informacion de Paciente:</h3>
        <div class="margin">
          <hr>
          <div class="infoPaciente">
            <label>ID del paciente:</label>
            <label class="inputPacientes">{{id_paciente}}</label>

            <label>Nombre:</label>  
            <label  class="inputPacientes">{{paciente.nombre}}</label>

            <label>Masa:</label>
            <label class="inputPacientes">{{paciente.masacorporal}}</label>

            <label>Altura:</label>
            <label class="inputPacientes">{{paciente.altura}}</label>
            
            <label>Adicciones:</label>
            <label class="inputPacientes">{{paciente.adicciones}}</label>

            <label>Teléfono:</label>
            <label class="inputPacientes">{{paciente.telefono}}</label>
      
            <label>Dirección:</label>
            <label class="inputPacientes" style="margin-bottom: 1.5rem;">{{paciente.direccion}}</label>

            <hr>
            <h4 class="titulo" style="margin-left: -1rem; ">Informacion especifica:</h4>
            
            <!--Herencia-->
            <label>Herencia:</label>
            {% set seen_elements = [] %}
            <ul>
              {% for element in herencia %}
                {% if element not in seen_elements and element != "ninguna" %}
                  <li>{{ element }}</li>
                  {% set _dummy = seen_elements.append(element) %}
                {% endif %}
              {% endfor %}
            </ul>

            <!--Tratamiento-->
            <label>Tratamiento:</label>
            {% set seen_elements = [] %}
            <ul>
              {% for element in tratamiento %}
                {% if element not in seen_elements %}
                  <li>{{ element }}</li>
                  {% set _dummy = seen_elements.append(element) %}
                {% endif %}
              {% endfor %}
            </ul>

            <!--Enfermedades-->
            <label>Enfermedades:</label>
            {% set seen_elements = [] %}
            <ul>
              {% for element in enfermedad %}
                {% if element not in seen_elements %}
                  <li>{{ element }}</li>
                  {% set _dummy = seen_elements.append(element) %}
                {% endif %}
              {% endfor %}
            </ul>

            <!--Medicos-->
            <label> Medicos tratantes:</label>
            {% set seen_elements = [] %}
            <ul>
              {% for element in medico %}
                {% if element not in seen_elements %}
                  <li>{{ element }}</li>
                  {% set _dummy = seen_elements.append(element) %}
                {% endif %}
              {% endfor %}
            </ul>

            <div style="margin-top: 1rem">
              <a href="{{url_for('paciente')}}">
                <button class="btn-info" style="background-color: #FC5E5E;">Cerrar</button>
              </a>
              <button class="btn-info" style="margin-bottom: 5rem;">Editar</button>
              <button class="btn-info" style="margin-bottom: 5rem;">Guardar</button>
            </div>
          </div>

        </div>
    </div>
    
<script>
    var texto = document.querySelector('.text-establecimiento');
    var contenido = texto.innerHTML;
    if (contenido.length > 20) {
    texto.innerHTML = contenido.substring(0, 20) + '...';
    }

</script>
{% endblock %}