html,
body {
  height: 100%;
}

.imagenfondo {
  position: relative;
}

.imagenfondo::after {
  content: '';
  background-image: url('/static/img/hospital.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.imagenfondo::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta el último valor (0-1) según la opacidad oscura deseada */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo-img{
  width: 200px;
}
.form-container {
  max-width: 400px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.863);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}


a {
  display: block;
  text-align: center;
  color: #4987ba;
  font-size: 16px;
  text-decoration: none;
}
.button-style{
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.register-text{
  font-size: 17px;
  margin-bottom: 0.8rem;
  margin-left: 0.5rem;
}
.register-text{
  font-size: 17px;
  margin-bottom: 0.8rem;
  margin-left: 0.5rem;
}


.campo {
  position: relative;
}

label {
  width: 100%;
}

input {
  width: 100%;
  padding: 7px;
}

.campo span {
  position: absolute;
  right: 5px;
  top: 39px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 2px 10px;
}
.text-password-view{
  margin-top: 0.3rem;
}
.iconsee{
  width: 30px;
}