body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
  }
  
.header-top{
    padding: 1rem;
    background-color: #cfdfef;
    justify-content: space-between;

}
.buttonRegister{
    color: #4987ba;
    font-weight: 600;
    background-color: #cfdfef;
}
.buttonRegister:hover{
    color: #284e6d;
    font-weight: 800;
    background-color: #cfdfef;
}

.btnLogin:hover{
    font-weight: 800;
}

.Text-bienvenida{
    padding-left: 6rem;
    padding-top: 6rem;
    width: 700px;
}
.grid-items{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}
.logo-img{
    width: 200px;
}
.img-image{
    /*transform:  translate(0px);*/
    /*width: 70%;*/
}
/*.box-decoration-text{
    border: 2px solid #284e6d;
    padding: 1rem;
}*/