{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="form-container">
      <h2>Iniciar Sesión</h2>
      <form action="">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
  
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
  
        <button type="submit">Iniciar Sesión</button>
      </form>
      <a href="#">¿Olvidaste tu contraseña?</a>
      <a href="{{ url_for('login') }}">Regresar</a>

    </div>
  </div>
  
  
{% endblock %}