{% extends 'base.html' %}

{% block title %}Iniciar Sesion{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-css/auth.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<body class="imagenfondo">
  <div class="container contenido">
    <div class="form-container">
      <img class="logo-img centerPadMar" src="/static/img/logo.png">

      <form action="{{ url_for('inicio') }}" method="post">
        <!--Usuario-->
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
  
        <!--Contraseña-->
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <input class= "buttonLogin button-style"  type="submit" value="Iniciar Sesion">
        
        {% if message %}
          <p class="error-message">{{ message }}</p>
        {% endif %}
      </form>
      <div class="flex-row center">
        <p>¿No tienes cuenta?</p>
        <a href="{{ url_for('register') }}" class="register-text">Registrate aquí </a>
      </div>
      <a href="#">¿Olvidaste tu contraseña?</a>
      <a href="{{ url_for('index') }}">Regresar</a>

    </div>
  </div>
</body>



  
{% endblock %}