{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<header class="header-top flex-row">
    <img class="logo-img" src="static\img\logo.png">
    <div class=" flex-row encabezado padT1">
        <p class="padR4 hover-p">Inicio</p>
        <p class="padR4 hover-p">Acerca de</p>
        <p class="padR4 hover-p">Servicios</p>
    </div>
    <div class="padR2 padT05">
        <button class="buttonRegister">Registrarse</button>
        <a href="{{ url_for('login') }}">
            <button class="shadow btnLogin">Iniciar Sesión</button>
        </a>
    </div>

</header>

<body>
    <div class="flex-row">
        <div class="Text-bienvenida">
            <h2 class="box-decoration-text">Administra tu clinica</h2>
            <h1>La salud de tus pacientes es nuestra prioridad </h1>
            <p>Existen pocas aplicaciones para administrar clinicas, hospitales o sanatorios, con nuestra aplicacion podrás administrar tus pacientes, medicamentos y citas al alcance de pocos clicks</p>
            <button>Comenzar ahora</button>
        </div>
        <img src="static\img\image.png" class="img-image">

    </div>

</body>
{% endblock %}