.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.centerPadMar{
    width: 100%;
    margin: auto;
    padding: auto;
    padding-bottom: 1rem;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.padR2{
    padding-right: 2rem;
}
.padR4{
    padding-right: 4rem;
}

.padT1{
    padding-top: 1rem;
}
.padT3{
    padding-top: 3rem;
}
.padT05{
    padding-top: 0.5rem;
}
.padL1{
    padding-left: 1rem;
}
.margin{
   width: 50%;
}
.margin-personal{
  width: 90%;
}
.marL1{
    margin-left: 1rem;
}
.marR1{
    margin-right: 1rem;
}
.marT1{
    margin-top: 1rem;
}
.marR2{
    margin-right: 2rem;
}
.marR3{
    margin-right: 3rem;
}

button{
    font-family: 'Poppins', sans-serif;
    background-color: #4987ba;
    border: none;
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
}
.buttonLogin{
  font-family: 'Poppins', sans-serif;
    background-color: #4987ba;
    border: none;
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
}
.shadow{
    box-shadow: 3px 3px 8px rgb(31, 31, 31);
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.hover-p:hover{
    cursor: pointer;
    font-weight: 700;
    
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #4987ba;
}
h1{
    font-size: 50px;
    font-weight: 800;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.text-grey{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: grey;
}
.titulo{
    padding-top: 2rem;
    padding-left: 1rem;
}


.inputInfo{
  width: 100%;
  padding: 0.2rem;
  border: 1px solid #4987ba;
  border-radius: 0.3rem;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  background-color: #f2f2f2;

}

/*Tablas*/


  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
  }

  th, td {
    padding: 10px;
  }

  th {
    background-color: #4987ba;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  .btn-info {
    background-color: #4987ba;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
  }
  .btn-info:hover{
    background-color: #315c80;
    color: white;
  }
  .dialogo {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .dialogo-contenido {
    background-color: white;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #4987ba;
    width: 50%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .dialogo-contenido h2 {
    margin-top: 0;
    color: #4987ba;
  }

  .btn-cerrar {
    background-color: #4987ba;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
  }

  .left{
    margin-left: 4rem;
    justify-content: left;
    text-align: left;
    
  }

  .infoPaciente{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
  }
  .inputEdit{
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    color: white !important;
    background-color:#4987ba;
    border: none;
    border-radius: 0.3rem;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
  }

.inputPacientes{
  cursor: pointer;
  text-align: left;
  width: 50%;
  padding: 0.3rem;
  color: rgb(0, 0, 0) !important;
  background-color:#dadada;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 1rem;
}
.inputs-establecimiento{
  cursor: pointer;
  text-align: left;
  width: 50%;
  padding: 0.3rem;
  color: rgb(0, 0, 0) !important;
  background-color:#ebebeb00;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 1rem;
}
.inputs-agregar{
  cursor: pointer;
  text-align: left;
  width: 50%;
  padding: 0.3rem;
  color: rgb(0, 0, 0) !important;
  background-color:#ffffff;
  border: solid #315c8085;
  border-radius: 0.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 1rem;
}
.inventario{
  background-color: #00000005;
  border-radius: 1rem; 
  color: white; 
  padding-top: 1rem; 
  padding-bottom: 1rem;

}
.text-inv{
  color: black;
}
.img-inventario{
  width: 25%;
  position: absolute;
  top:10rem;
}