.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.centerPadMar{
    width: 100%;
    margin: auto;
    padding: auto;
    padding-bottom: 1rem;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.padR2{
    padding-right: 2rem;
}
.padR4{
    padding-right: 4rem;
}

.padT1{
    padding-top: 1rem;
}
.padT05{
    padding-top: 0.5rem;
}
.padL1{
    padding-left: 1rem;
}
.margin{
   width: 50%;
}
.marL1{
    margin-left: 1rem;
}
.marR1{
    margin-right: 1rem;
}
.marT1{
    margin-top: 1rem;
}
.marR2{
    margin-right: 2rem;
}
.marR3{
    margin-right: 3rem;
}

button{
    font-family: 'Poppins', sans-serif;
    background-color: #4987ba;
    border: none;
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
}
.shadow{
    box-shadow: 3px 3px 8px rgb(31, 31, 31);
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.hover-p:hover{
    cursor: pointer;
    font-weight: 700;
    
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #4987ba;
}
h1{
    font-size: 50px;
    font-weight: 800;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.text-grey{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: grey;
}
.titulo{
    padding-top: 2rem;
}

/*Tablas*/


  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
  }

  th, td {
    padding: 10px;
  }

  th {
    background-color: #4987ba;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  .btn-info {
    background-color: #4987ba;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
  }
  .btn-info:hover{
    background-color: #315c80;
    color: white;
  }