{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<header class="header-top flex-row" style="background-color: #4b7fbd;">
    <img class="logo-img" src="static\img\logoBlanco.png">
    <div class=" flex-row encabezado ">
      <!--Inicio-->
      <a href="{{ url_for('inicio') }}"><p class="padR4 hover-p padT1">Inicio</p></a>
      <!--Establecimientos-->
      <a href="{{ url_for('establecimientos') }}"><p class="padR4 hover-p padT1">Establecimientos</p></a>
      <!--Medicamentos-->
      <a href="{{ url_for('medicamentos') }}"><p class="padR4 hover-p padT1">Historial</p></a>
      <!--Pacientes-->
      <a href="{{ url_for('paciente') }}"><p class="padR4 hover-p padT1">Pacientes</p></a>
      <!--Estadisticas-->
      <a href="{{ url_for('estadisticas') }}"><p class="padR4 hover-p padT1">Estadísticas</p></a>
      <!--Cerrar Sesion-->
      <a href="logout"><p class="padR4 hover-p padT1">Cerrar sesion</p></a>
      <!--Icono Usuario-->
        <div class="profile-img-container">
          <img src="static\img\doc.jpg" alt="Perfil de usuario" class="profile-img">
      </div>
        
  </div>

</header>
<body class="center">

    <!--Pestaña info pacientes-->
    <div class="center flex-column">
        
        <h3 class="titulo">Historial:</h3>
        <div class="margin">
        <table>
            <thead>
              <tr>
                {% for column in columns %}
                  {% if column != "id_historial"%}
                    <th>{{ column }}</th>
                  {% endif %}
                {% endfor %}
                <th>Guardar</th>
              </tr>
            </thead>
            <tbody>
              {% for row in historial %}
                <tr>
                  <form action="{{ url_for('medicamentos') }}" method="post">
                    <td>{{ row.establecimiento }}</td>
                    <td><input type="text" class="inputs-establecimiento" name="paciente" id="" value="{{ row.paciente }}"></td>
                    <td><input type="text" class="inputs-establecimiento" name="medico" id="" value="{{ row.medico }}"></td>
                    <td><input type="text" class="inputs-establecimiento" name="enfermedad" id="" value="{{ row.enfermedad }}"></td>
                    <td><input type="text" class="inputs-establecimiento" name="herencia" id="" value="{{ row.herencia }}"></td>
                    <td><input type="text" class="inputs-establecimiento" name="tratamiento" id="" value="{{ row.tratamiento }}"></td>
                    <td><input type="text" class="inputs-establecimiento" name="evolucion" id="" value="{{ row.evolucion }}"></td>
                    <td><input type="text" class="inputs-establecimiento" name="estado" id="" value="{{ row.estado }}"></td>
                    <td><input type="text" class="inputs-establecimiento" name="comentario" id="" value="{{ row.comentario }}"></td>
                    <input type="hidden" name="nombrePaciente" value="{{ row.paciente }}">
                    <input type="hidden" name="id_historial" value="{{ row.id_historial }}">
                    <td><input type="submit" class="inputEdit" value="Guardad"></td>
                  </form>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    
<script>
    var texto = document.querySelector('.text-establecimiento');
    var contenido = texto.innerHTML;
    if (contenido.length > 20) {
    texto.innerHTML = contenido.substring(0, 20) + '...';
    }

</script>
{% endblock %}