{% extends 'base.html' %}

{% block title %}Estadísticas{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/establecimiento.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<header class="header-top flex-row" style="background-color: #4b7fbd;">
  <img class="logo-img" src="static\img\logoBlanco.png">
  <div class=" flex-row encabezado ">
      <!--Inicio-->
      <a href="{{ url_for('inicio') }}"><p class="padR4 hover-p padT1">Inicio</p></a>
      <!--Establecimientos-->
      <a href="{{ url_for('establecimientos') }}"><p class="padR4 hover-p padT1">Establecimientos</p></a>
      <!--Medicamentos-->
      <a href="{{ url_for('medicamentos') }}"><p class="padR4 hover-p padT1">Historial</p></a>
      <!--Pacientes-->
      <a href="{{ url_for('paciente') }}"><p class="padR4 hover-p padT1">Pacientes</p></a>
      <!--Estadisticas-->
      <a href="{{ url_for('estadisticas') }}"><p class="padR4 hover-p padT1">Estadísticas</p></a>
      <!--Cerrar Sesion-->
      <a href="logout"><p class="padR4 hover-p padT1">Cerrar sesion</p></a>
      <!--Icono Usuario-->
        <div class="profile-img-container">
          <img src="static\img\doc.jpg" alt="Perfil de usuario" class="profile-img">
      </div>
        
  </div>

</header>
<body class="center">

    <!--Pestaña info pacientes-->
    <div class="center flex-column">
        
        <h3 class="titulo">Estadísticas:</h3>

        <div style="display: flex; flex-direction: row;">
            <div class="flex-row establecimientoTitulos">
                <p class=" inventario" id="btn-enfMortales">Enfermedades Mortales</p>
                <p class="personal pad" id="btn-MedPopulares">Medicos Populares</p>
                <p class="personal " id="btn-pacVisitados">Pacientes más visitados</p>
                <p class="personal " id="btn-repInv">Reporte inventario</p>
                <p class="personal " id="btn-estPopulares">Establecimientos populares</p>
            </div>  
          </div>

          

        <div class="padT3 Organiza-establ" style=" display: true;">
            <h2>Organiza tu establecimiento</h2>
        </div>
        <!--Tabla de inventario-->
        <div class="margin tabla-enfMortales"  style="display: none;">
            <table>
              <thead>
                <tr>
                  <th>Enfermedad</th>
                  <th>Muertes</th>
                </tr>
              </thead>
              <tbody>
                {% for dato in enfermedades %}
                  <tr>
                    <td>{{ dato.enfermedad }}</td>
                    <td>{{ dato.muertes }}</td>
                  </tr>
                {% endfor %}
                <!-- Agrega más filas aquí siguiendo el mismo formato -->
              </tbody>
            </table>
          </div>

          <!--Tabla de personal-->
          <div class="margin-personal tabla-MedPopulares"  style="display: none;">
            <table>
              <thead>
                <tr>
                  <th>Medico</th>
                  <th>Visitas</th>
                </tr>
              </thead>
              <tbody>
                {% for p in medicos %}
                  <tr>
                    <td>{{ p.medico }}</td>
                    <td>{{ p.visita }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        <!--Tabla de Usuarios-->
        <div class="margin tabla-PacVisitados"  style="display: none;">
          <table>
            <thead>
              <tr>
                  <th>Visita</th>
                  <th>Nombre </th>
                  <th>Telefono</th>
                  <th>Direccion</th>
                </tr>
            </thead>
            <tbody>
              {% for visita in visitas %}
                <tr>
                  <td>{{ visita.cuenta }}</td>
                  <td>{{ visita.nombre }}</td>
                  <td>{{ visita.telefono }}</td>
                  <td>{{ visita.direccion }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- Tabla RepInv-->
        <div class="tabla-repInv" style="display: none;">
          <h2>Medicamentos Necesarios </h2>
          <p>Se ha detectado que el inventario de tu establecimiento está por debajo de lo recomendado</p>
          <table>
            <thead>
              <tr>
                <th>Utencilio/Medicina</th>
                <th>Cantidad restante</th>
              </tr>
            </thead>
            <tbody>
              {% for prod in inventario %}
                <tr>
                  <td>{{ prod.nombre }}</td>
                  <td>{{ prod.cantidad}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!--Tabla Estalecimientos populares-->
        <div class="margin tabla-estPopulares"  style="display: none;">
          <table>
            <thead>
              <tr>
                  <th>Establecimiento</th>
                  <th>Visitas</th>
                </tr>
            </thead>
            <tbody>
              {% for establecimiento in total %}
                <tr>
                  <td>{{ establecimiento.lugar }}</td>
                  <td>{{ establecimiento.cantidad_pacientes }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <h4 class="titulo">Hospitales mas visitados</h4>
            <table>
              <thead>
                <tr>
                  <th>Hospitales</th>
                  <th>Visitas</th>
                </tr>
              </thead>
              <tbody>
                {% for establecimiento in hospitales %}
                  <tr>
                    <td>{{ establecimiento.lugar }}</td>
                    <td>{{ establecimiento.cantidad_pacientes }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <h4 class="titulo">Clinicas mas visitadas</h4>
            <table>
              <thead>
                <tr>
                  <th>Clinicas</th>
                  <th>Visitas</th>
                </tr>
              </thead>
              <tbody>
                {% for establecimiento in clinicas %}
                  <tr>
                    <td>{{ establecimiento.lugar }}</td>
                    <td>{{ establecimiento.cantidad_pacientes }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <h4 class="titulo">Centros medico mas visitados</h4>
            <table>
              <thead>
                <tr>
                  <th>Centros medicos</th>
                  <th>Visitas</th>
                </tr>
              </thead>
              <tbody>
                {% for establecimiento in centros %}
                  <tr>
                    <td>{{ establecimiento.lugar }}</td>
                    <td>{{ establecimiento.cantidad_pacientes }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
    
    </div>
    
   
<script>
    
    document.addEventListener('DOMContentLoaded', () => {
    const btnEnfMortales = document.querySelector('#btn-enfMortales');
    const btnMedPopulares = document.querySelector('#btn-MedPopulares');
    const btnPacVisitados = document.querySelector('#btn-pacVisitados');
    const btnRepInv = document.querySelector('#btn-repInv');
    const btnEstPopulares = document.querySelector('#btn-estPopulares');
    const tablaEnfMortales = document.querySelector('.tabla-enfMortales');
    const tablaMedPopulares = document.querySelector('.tabla-MedPopulares');
    const tablaPacVisitados = document.querySelector('.tabla-PacVisitados');
    const tablaRepInv = document.querySelector('.tabla-repInv');
    const tablaEstPopulares = document.querySelector('.tabla-estPopulares');
    const textOrganiza = document.querySelector('.Organiza-establ');

    btnEnfMortales.addEventListener('click', () => {
        tablaEnfMortales.style.display = 'block';
        tablaMedPopulares.style.display = 'none';
        tablaEnfMortales.style.display = 'true';
        textOrganiza.style.display = 'none';
        tablaPacVisitados.style.display = 'none';
        tablaRepInv.style.display = 'none';
        tablaEstPopulares.style.display = 'none';

    });

    btnMedPopulares.addEventListener('click', () => {
        tablaMedPopulares.style.display = 'block';
        tablaEnfMortales.style.display = 'none';
        tablaMedPopulares.style.display = 'true';
        textOrganiza.style.display = 'none';
        tablaPacVisitados.style.display = 'none';
        tablaRepInv.style.display = 'none';
        tablaEstPopulares.style.display = 'none';



    });

    btnPacVisitados.addEventListener('click', () => {
        tablaPacVisitados.style.display = 'block';
        tablaEnfMortales.style.display = 'none';
        tablaPacVisitados.style.display = 'true';
        textOrganiza.style.display = 'none';
        tablaMedPopulares.style.display = 'none';
        tablaRepInv.style.display = 'none';
        tablaEstPopulares.style.display = 'none';


    });

    btnRepInv.addEventListener('click', () => {
        tablaRepInv.style.display = 'block';
        tablaEnfMortales.style.display = 'none';
        tablaRepInv.style.display = 'true';
        textOrganiza.style.display = 'none';
        tablaMedPopulares.style.display = 'none';
        tablaPacVisitados.style.display = 'none';
        tablaEstPopulares.style.display = 'none';
    });

    btnEstPopulares.addEventListener('click', () => {
        tablaEstPopulares.style.display = 'block';
        tablaEnfMortales.style.display = 'none';
        tablaEstPopulares.style.display = 'true';
        textOrganiza.style.display = 'none';
        tablaMedPopulares.style.display = 'none';
        tablaPacVisitados.style.display = 'none';
        tablaRepInv.style.display = 'none';
    });
});


    var texto = document.querySelector('.text-establecimiento');
    var contenido = texto.innerHTML;
    if (contenido.length > 20) {
        texto.innerHTML = contenido.substring(0, 20) + '...';
    }


</script>
{% endblock %}